.firsttext {
  font-family: Copperplate, Papyrus, fantasy;
  color:red;
  font-size: 200%;
}
.secondtext {
  font-family: "Brush Script MT", cursive;
  color:blue;
  font-size: 250%;
}
.firstlist {
  color:magenta;
  font-size:200%;
}
.secondlist {
  color:yellow;
  font-size:200%;
}
.firsttable {
  margin-left: auto;
  margin-right: auto;
}
.secondtable {
  color:red;
}